.icon {
	background: url("svg/sprite.css.svg") no-repeat;
}

.svg-add {
	background-position: 20% 0;
}

.svg-add-dims {
	width: 16px;
	height: 16px;
}

.svg-all {
	background-position: 80% 0;
}

.svg-all-dims {
	width: 16px;
	height: 16px;
}

.svg-alphabetically {
	background-position: 0 20%;
}

.svg-alphabetically-dims {
	width: 16px;
	height: 16px;
}

.svg-calendar {
	background-position: 20% 20%;
}

.svg-calendar-dims {
	width: 16px;
	height: 16px;
}

.svg-calendar-due {
	background-position: 40% 0;
}

.svg-calendar-due-dims {
	width: 16px;
	height: 16px;
}

.svg-calendar-overdue {
	background-position: 40% 20%;
}

.svg-calendar-overdue-dims {
	width: 16px;
	height: 16px;
}

.svg-checkmark {
	background-position: 0 40%;
}

.svg-checkmark-dims {
	width: 16px;
	height: 16px;
}

.svg-checkmark-color {
	background-position: 20% 40%;
}

.svg-checkmark-color-dims {
	width: 16px;
	height: 16px;
}

.svg-clock {
	background-position: 40% 40%;
}

.svg-clock-dims {
	width: 16px;
	height: 16px;
}

.svg-clock-due {
	background-position: 60% 0;
}

.svg-clock-due-dims {
	width: 16px;
	height: 16px;
}

.svg-clock-overdue {
	background-position: 60% 20%;
}

.svg-clock-overdue-dims {
	width: 16px;
	height: 16px;
}

.svg-close {
	background-position: 60% 40%;
}

.svg-close-dims {
	width: 16px;
	height: 16px;
}

.svg-current {
	background-position: 0 60%;
}

.svg-current-dims {
	width: 16px;
	height: 16px;
}

.svg-hide {
	background-position: 20% 60%;
}

.svg-hide-dims {
	width: 16px;
	height: 16px;
}

.svg-manual {
	background-position: 40% 60%;
}

.svg-manual-dims {
	width: 16px;
	height: 16px;
}

.svg-menu {
	background-position: 60% 60%;
}

.svg-menu-dims {
	width: 16px;
	height: 16px;
}

.svg-note {
	background-position: 0 0;
}

.svg-note-dims {
	width: 16px;
	height: 16px;
}

.svg-percent {
	background-position: 80% 20%;
}

.svg-percent-dims {
	width: 16px;
	height: 16px;
}

.svg-percent1 {
	background-position: 80% 40%;
}

.svg-percent1-dims {
	width: 16px;
	height: 16px;
}

.svg-settings {
	background-position: 80% 60%;
}

.svg-settings-dims {
	width: 16px;
	height: 16px;
}

.svg-sort-down {
	background-position: 0 80%;
}

.svg-sort-down-dims {
	width: 16px;
	height: 16px;
}

.svg-sort-up {
	background-position: 20% 80%;
}

.svg-sort-up-dims {
	width: 16px;
	height: 16px;
}

.svg-star {
	background-position: 40% 80%;
}

.svg-star-dims {
	width: 16px;
	height: 16px;
}

.svg-star-high {
	background-position: 60% 80%;
}

.svg-star-high-dims {
	width: 16px;
	height: 16px;
}

.svg-star-low {
	background-position: 80% 80%;
}

.svg-star-low-dims {
	width: 16px;
	height: 16px;
}

.svg-star-medium {
	background-position: 100% 0;
}

.svg-star-medium-dims {
	width: 16px;
	height: 16px;
}

.svg-subtasks-hidden {
	background-position: 100% 20%;
}

.svg-subtasks-hidden-dims {
	width: 16px;
	height: 16px;
}

.svg-subtasks-visible {
	background-position: 100% 40%;
}

.svg-subtasks-visible-dims {
	width: 16px;
	height: 16px;
}

.svg-tag {
	background-position: 100% 60%;
}

.svg-tag-dims {
	width: 16px;
	height: 16px;
}

.svg-toggle {
	background-position: 100% 80%;
}

.svg-toggle-dims {
	width: 16px;
	height: 16px;
}

.svg-trash {
	background-position: 0 100%;
}

.svg-trash-dims {
	width: 16px;
	height: 16px;
}

.svg-update {
	background-position: 20% 100%;
}

.svg-update-dims {
	width: 16px;
	height: 16px;
}

.svg-update1 {
	background-position: 40% 100%;
}

.svg-update1-dims {
	width: 16px;
	height: 16px;
}

