.icon {
	background: url("../img/sprites.svg") no-repeat;
}

.ico-add {
	background-position: 20% 0;
}

.ico-all {
	background-position: 80% 20%;
}

.ico-alphabetically {
	background-position: 0 20%;
}

.ico-calendar {
	background-position: 20% 20%;
}

.ico-calendar-due {
	background-position: 40% 0;
}

.ico-calendar-overdue {
	background-position: 40% 20%;
}

.ico-checkmark {
	background-position: 0 40%;
}

.ico-checkmark-color {
	background-position: 20% 40%;
}

.ico-clock {
	background-position: 40% 40%;
}

.ico-clock-due {
	background-position: 60% 0;
}

.ico-clock-overdue {
	background-position: 60% 20%;
}

.ico-close {
	background-position: 60% 40%;
}

.ico-current {
	background-position: 0 60%;
}

.ico-hide {
	background-position: 20% 60%;
}

.ico-manual {
	background-position: 40% 60%;
}

.ico-menu {
	background-position: 60% 60%;
}

.ico-note {
	background-position: 80% 0;
}

.ico-percent {
	background-position: 0 0;
}

.ico-percent-active {
	background-position: 80% 40%;
}

.ico-random {
	background-position: 80% 60%;
}

.ico-settings {
	background-position: 0 80%;
}

.ico-sort-down {
	background-position: 20% 80%;
}

.ico-sort-up {
	background-position: 40% 80%;
}

.ico-star {
	background-position: 60% 80%;
}

.ico-star-high {
	background-position: 80% 80%;
}

.ico-star-low {
	background-position: 100% 0;
}

.ico-star-medium {
	background-position: 100% 20%;
}

.ico-subtasks-hidden,
.ico-subtasks-hidden\:regular {
	background-position: 100% 40%;
}

.ico-subtasks-hidden:hover,
.ico-subtasks-hidden\:hover {
	background-position: 100% 60%;
}

.ico-subtasks-visible {
	background-position: 100% 80%;
}

.ico-tag {
	background-position: 0 100%;
}

.ico-tag-active {
	background-position: 20% 100%;
}

.ico-toggle {
	background-position: 40% 100%;
}

.ico-trash {
	background-position: 60% 100%;
}


//colors
$blue: #00f;
$color_masala_approx: #423e3e;
$color_silver_chalice_approx: #b0b0b0;
$black: #000;
$red: #f00;
$white: #fff;
$color_celeste_approx: #ccc;
$color_fuscous_gray_approx: #505050;
$color_desert_storm_approx: #f8f8f8;
$white_80: rgba(255, 255, 255, .8);
$color_calypso_approx: #3b6594;
$color_well_read_approx: #b3312d;
$color_suva_gray_approx: #888;
$color_gallery_approx: #eee;
$color_gallery_90_approx: rgba(240, 240, 240, .9);
$color_star_dust_approx: #a0a0a0;
$color_gray_nurse_approx: #e9e9e9;
$color_quill_gray_approx: #d3d3d3;
$white_50: rgba(255, 255, 255, .5);
$color_silver_approx: #bdbcbb;
$black_10: rgba(0, 0, 0, .1);
$color_pink_swan_approx: #bbb;
$color_picton_blue_approx: #5cb6e7;
$color_mariner_approx: #317cd7;
$color_wild_sand_approx: #f5f5f5;
$black_24: rgba(0, 0, 0, .24);
$color_kangaroo_approx: #c9c8bd;
$color_curious_blue_65_approx: rgba(43, 136, 217, .65);
$color_curious_blue_32_approx: rgba(43, 136, 217, .32);
$white_43: rgba(255, 255, 255, .43);
$color_curious_blue_12_approx: rgba(43, 136, 217, .12);
$color_curious_blue_20_approx: rgba(43, 136, 217, .2);
$color_san_marino_approx: #4271a6;
$color_school_bus_yellow_approx: #fd0;
$black_25: rgba(0, 0, 0, .25);
$color_matisse_approx: #0c67a5;
$white_30: rgba(255, 255, 255, .3);
$black_50: rgba(0, 0, 0, .5);
$color_alabaster_approx: #f9f9f9;
$color_curious_blue_approx: #168ad4;
$black_40: rgba(0, 0, 0, .4);
$color_delta_approx: #a3a3a3;
$color_tapa_approx: #737272;
$black_20: rgba(0, 0, 0, .2);
$color_mountain_mist_approx: #909090;
$color_alto_approx: #ddd;
$color_mine_shaft_approx: #333;
$color_alizarin_crimson_approx: #e9322d;
$color_sundown_approx: #f8b9b7;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: Sans-Serif;

//urls
$url_0: url(../img/sprites.svg);

//@extend-elements
//original selectors
//.icon.task-checkbox, .icon.detail-checkbox
%extend_1 {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	border: 1px solid $color_silver_chalice_approx;
	float: left;
	margin: 9px;
}

//original selectors
//#app-sidebar div.content-wrapper .title textarea, #app-sidebar div.content-wrapper .title pre
%extend_2 {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	padding: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

//original selectors
//#app-sidebar div.content-wrapper .body .note .expandingArea textarea, #app-sidebar div.content-wrapper .body .note .expandingArea pre
%extend_3 {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	font-size: 13px;
	line-height: 26px;
	padding: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

//original selectors
//#app-sidebar div.content-wrapper .body .note .note-body, #app-sidebar div.content-wrapper .body .note .note-edit
%extend_4 {
	cursor: text;
	min-height: 140px;
	word-wrap: break-word;
}

//original selectors
//.ui-datepicker .ui-widget-header, .ui-timepicker .ui-widget-header
%extend_5 {
	background: none repeat scroll 0 0 transparent;
	border: none;
	color: $color_masala_approx;
	font-weight: 600;
	font-size: 12px;
}

//original selectors
//.ui-datepicker .ui-datepicker-next, .ui-timepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover, .ui-timepicker .ui-datepicker-next-hover
%extend_6 {
	right: 2px;
	top: 2px;
	background: none;
	border: none;
}

//original selectors
//.ui-datepicker .ui-datepicker-prev, .ui-timepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev-hover, .ui-timepicker .ui-datepicker-prev-hover
%extend_7 {
	left: 2px;
	top: 2px;
	background: none;
	border: none;
}

//original selectors
//.ui-datepicker .ui-icon-circle-triangle-w, .ui-timepicker .ui-icon-circle-triangle-w
%extend_8 {
	@extend .icon;
	@extend .ico-sort-down;
	// background-image: $url_0;
	// background-position: -32px -64px;
	height: 16px;
	width: 16px;
}

//original selectors
//.ui-datepicker .ui-icon-circle-triangle-e, .ui-timepicker .ui-icon-circle-triangle-e
%extend_9 {
	@extend .icon;
	@extend .ico-sort-up;
	// background-image: $url_0;
	// background-position: -16px -64px;
	height: 16px;
	width: 16px;
}

//original selectors
//.ui-datepicker table thead th, .ui-timepicker table thead th
%extend_10 {
	color: $color_delta_approx;
	font-size: 9px;
	height: auto;
	padding: 4px 0;
	text-align: center;
	text-transform: uppercase;
}

//original selectors
//.ui-datepicker table td.selected a, .ui-timepicker table td.selected a
%extend_11 {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	color: $white;
	opacity: 1;
	position: relative;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 1px $black_40;
}

//original selectors
//.ui-datepicker table a.ui-state-default, .ui-timepicker table a.ui-state-default
%extend_12 {
	border: none;
	background: none repeat scroll 0 0 transparent;
	color: $color_tapa_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 2px 0;
	margin: 1px;
	text-align: center;
}

//original selectors
//div.ui-datepicker, div.ui-timepicker
%extend_13 {
	background: none repeat scroll 0 0 $color_alabaster_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 6px $black_50;
	color: $color_masala_approx;
	max-width: 304px;
	min-height: 15px;
	min-width: 150px;
	position: absolute;
	z-index: 1000;
	margin-top: 9px;
	padding: 8px;
}

//original selectors
//div.ui-datepicker .arrow, div.ui-timepicker .arrow
%extend_14 {
	border-color: transparent transparent $color_alabaster_approx;
	left: 50%;
	margin-left: -12px;
	top: -24px;
	border-style: solid;
	border-width: 12px;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 100;
}

//original selectors
//div.ui-datepicker:after, div.ui-timepicker:after
%extend_15 {
	border-bottom: 9px solid $color_alabaster_approx;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	left: 46%;
	position: absolute;
	top: -9px;
}

//original selectors
//div.ui-datepicker:before, div.ui-timepicker:before
%extend_16 {
	border-bottom: 9px solid $black_20;
	border-left: 9px solid rgba(0, 0, 0, 0);
	border-right: 9px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	left: 46%;
	position: absolute;
	top: -9px;
}

//original selectors
//.confirmation-confirm, .confirmation-abort
%extend_17 {
	width: 50% !important;
	display: none !important;
	padding-right: 0 !important;
	background-position: center !important;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.visibility-hidden {
	visibility: hidden;
}

.task-body {
	background-color: $white;
	height: 37px;
	list-style: none outside none;
	margin: 0;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: $color_celeste_approx;
	overflow: hidden;

	&.changeParent {
		border-color: $blue !important;
		z-index: 100 !important;
	}

	.icon {
		&.large {
			margin: 8px;
		}

		&.task-separator {
			cursor: default;
			height: 100%;
			left: 34px;
			position: absolute;
			top: 1px;
			background: unset;
			width: 2px;
			border-left: 1px dotted $color_silver_chalice_approx;
		}

		&.ico-star {
			float: right;
		}

		&.ico-add {
			float: right;

			&:hover {
				opacity: 1;
			}
		}

		&.subtasks {
			display: none;
		}

		&.toggle-completed-subtasks {
			display: none;
		}
	}

	&:hover {
		background-color: $color_desert_storm_approx;
	}

	&.active {
		background-color: $color_desert_storm_approx;
	}

	.title-wrapper {
		cursor: pointer;
		color: $color_masala_approx;
		display: block;
		line-height: 16px;
		margin: 0 0 0 44px;
		overflow: hidden;
		padding: 9px 0;
		position: relative;
		text-overflow: ellipsis;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 0 $white_80;
		white-space: nowrap;

		.title {
			cursor: text;
		}
	}

	.duedate {
		color: $color_calypso_approx;
		float: right;
		font-size: 11px;
		line-height: 14px;
		margin: 10px;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 0 $white_80;

		&.overdue {
			color: $color_well_read_approx;
		}
	}

	.listname {
		color: $color_suva_gray_approx;
		float: right;
		font-size: 11px;
		line-height: 14px;
		margin: 10px;
	}

	&.attachment .icon.ico-note {
		display: inline-block;
		float: right;
	}

	&.subtasks .icon.subtasks {
		display: inline-block;
	}

	&.completedsubtasks .icon.toggle-completed-subtasks {
		display: inline-block;
	}
}

#app-navigation {
	li {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: max-height 300ms ease 0s;
		max-height: 100px;

		> a {
			padding-right: 20px;
		}

		&.active {
			> a span {
				&.title {
					opacity: 1;
				}

				&.icon {
					opacity: 1;
				}
			}

			&.with-menu > a {
				padding-right: 70px;
			}
		}

		&.edit {
			> a {
				display: none;
			}

			.app-navigation-entry-utils {
				display: none;
			}

			.app-navigation-entry-menu {
				display: none;
			}

			.app-navigation-entry-edit.name {
				display: inline-block;
				height: auto;
			}
		}

		.app-navigation-entry-edit {
			&.name {
				display: none;
			}

			&.caldav {
				display: none;
			}
		}

		&.animate-up {
			max-height: 0;
			border-bottom: 0;
			overflow: hidden;
		}

		&:hover > a span {
			&.title {
				opacity: 1;
			}

			&.icon {
				opacity: 1;
			}
		}

		&.list:not(.active) .app-navigation-entry-utils-menu-button {
			display: none;
		}

		&.caldav .app-navigation-entry-edit.caldav {
			display: inline-block;
			height: auto;
		}

		a > span {
			&.icon {
				margin-top: -3px;
				margin-left: 2px;
			}

			&.title {
				margin-left: 11px;
			}
		}
	}

	.app-navigation-entry-edit {
		input.ico-close {
			width: 36px;
			height: 38px;
			float: left;
			margin: 3px 0;
			border-left: 0 none;
			background-color: $color_gallery_90_approx;
			//Instead of the line below you could use @include border-top-left-radius($radius)
			border-top-left-radius: 0;
			//Instead of the line below you could use @include border-bottom-left-radius($radius)
			border-bottom-left-radius: 0;

			&:hover {
				background-color: $white;
			}
		}

		&.name input[type="text"] {
			width: calc(100% - 72px);
		}

		&.caldav input[type="text"] {
			width: calc(100% - 36px);
		}
	}

	.app-navigation-entry-utils li {
		font-size: 100%;
	}

	.app-navigation-entry-menu li {
		float: inherit;
		width: auto !important;
		cursor: pointer;

		img {
			cursor: pointer;
			margin-right: 5px;
			vertical-align: text-bottom;
		}

		span {
			cursor: pointer;
		}

		button {
			float: inherit;
		}

		&:hover a {
			opacity: 1 !important;
		}

		&.confirmed a {
			&.confirmation-confirm {
				display: inline-block !important;
				opacity: 1;
			}

			&.confirmation-abort {
				display: inline-block !important;
				opacity: 1;
			}
		}
	}

	> ul ul.colorpicker-list {
		display: inline-flex;
	}
}

.sortorder-dropdown {
	display: none;
	top: 68px;
	right: 3px;

	li {
		float: inherit;
		width: auto !important;
		cursor: pointer;
		opacity: .57;

		&.active {
			opacity: 1 !important;
		}

		img {
			cursor: pointer;
			margin-right: 5px;
			vertical-align: text-bottom;
		}

		span {
			cursor: pointer;
		}

		&:hover {
			opacity: 1 !important;
		}
	}

	a {
		width: 100% !important;
	}

	&.open {
		display: block;
	}

	.icon {
		margin: 12px 8px;

		&.sort-indicator {
			margin-left: auto;
			margin-right: 0;
			filter: alpha(opacity=80);
			opacity: .8;
			float: right;
			visibility: hidden;
		}
	}

	.label {
		margin-right: 10px;
	}

	.active .icon.sort-indicator {
		visibility: visible;
	}
}

.app-navigation-entry-menu {
	&.sortorder-dropdown li > a span {
		opacity: 1 !important;
	}

	li > a {
		&:not(:empty).confirmation-confirm {
			padding-right: 0 !important;
		}

		span.countdown {
			background-color: inherit;
			color: $white;
			display: block;
			text-align: center;
			filter: alpha(opacity=100) !important;
			opacity: 1 !important;
		}
	}
}

#content {
	overflow: hidden;
	color: $color_masala_approx;
}

.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	opacity: .5;

	&.ico-calendar {
		font-size: 7px;
		font-weight: bold;
		line-height: 21px;
		text-align: center;
	}

	&.input-date {
		display: none;
		opacity: .4;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 100ms ease 0s;
		right: 35px;
		top: 7px;
	}

	&.input-star {
		display: none;
		opacity: .5;
		right: 9px;

		&.starred {
			opacity: 1;
		}
	}

	&.task-checkbox {
		@extend %extend_1;

		&:not(.ico-checkmark) {
			background: unset;
		}

		&:not(.disabled):hover {
			border-color: $black;
		}

		&.disabled {
			cursor: not-allowed;
		}
	}

	&.detail-checkbox {
		@extend %extend_1;

		&:not(.ico-checkmark) {
			background: unset;
		}

		&:not(.disabled):hover {
			border-color: $black;
		}

		&.disabled {
			cursor: not-allowed;
		}
	}

	&.ico-note {
		display: none;
	}

	&.subtasks {
		float: right;
	}

	&.detail-settings {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity 100ms ease 0s;
		opacity: .6;
	}

	&.detail-reminder {
		height: 20px;
		width: 20px;
	}

	&.ico-checkmark {
		opacity: 1;
	}

	&.note-fullscreen {
		opacity: .6;

		&:hover {
			opacity: 1;
		}
	}

	&.toggle-completed-subtasks {
		float: right;
		opacity: 1;

		&.hidden {
			opacity: .5;
		}

		&:hover {
			opacity: 1;
		}
	}

	&.detail-delete {
		display: none;
		margin-left: auto;
		right: 22px;

		&:hover {
			opacity: .8;
		}
	}

	&.detail-save {
		display: none;
		margin-left: auto;
		right: 44px;

		&:hover {
			opacity: .8;
		}
	}

	&.ico-tag-active {
		opacity: 1;
	}
}

.task-item {
	cursor: default;
	min-height: 37px;
	list-style: none outside none;
	overflow: hidden;
	margin-top: -1px;

	&:first-child {
		margin-top: 0;

		.task-body {
			border-width: 1px;
		}
	}

	.subtasks-container {
		margin-left: 35px;

		.task-item {
			margin-top: -1px;
		}

		&.subtaskshidden li.subtask {
			display: none;
		}
	}

	&.add-subtask {
		background: $white;
		border: 1px solid $color_celeste_approx;

		input {
			background: transparent none repeat scroll 0 0 !important;
			border: medium none !important;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 !important;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none !important;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			color: $color_fuscous_gray_approx;
			cursor: text;
			font-size: 100%;
			margin: 0;
			padding: 0 60px 0 32px;
			width: 100%;
			min-height: 36px;
		}
	}

	.ico-star:hover {
		opacity: .7;
	}

	&.done .task-body {
		opacity: .6;

		.title {
			text-decoration: line-through;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: none;
		}
	}
}

.ico-star-low {
	opacity: 1 !important;
}

.ico-star-medium {
	opacity: 1 !important;
}

.ico-star-high {
	opacity: 1 !important;
}

a {
	&.detail-star {
		padding: 15px;
		margin-left: auto;
		float: right;

		.icon {
			height: 24px;
			width: 24px;
			background-size: 144px 144px;
			opacity: .3;

			&:hover {
				opacity: .5;
			}
		}
	}

	&:hover .icon {
		&.detail-trash {
			opacity: 1;
		}

		&.detail-settings {
			opacity: 1;
		}

		&.detail-delete {
			opacity: .8;
		}

		&.detail-close {
			opacity: 1;
		}

		&.input-date {
			opacity: .8;
		}

		&.input-star {
			opacity: 1;
		}
	}
}

.calendar-indicator {
	min-width: 12px;
	min-height: 12px;
	background-color: $red;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-top: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	margin-left: 4px;
	margin-right: 2px;
}

#app-content {
	div {
		&.content-wrapper {
			padding: 6px 17px 75px;
			//Instead of the line below you could use @include box-sizing($bs)
			box-sizing: border-box;
			height: 100%;
			overflow: hidden;

			.task-list {
				height: 100%;
				width: 100%;
				overflow-y: auto;
			}

			.task-body .title-wrapper span.title a {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		&.task-list {
			.loadmore {
				font-size: 11px;
				margin-top: 10px;
				text-align: center;

				span {
					color: $color_star_dust_approx;
					background-color: $color_gray_nurse_approx;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 10px;
					padding: 3px 6px;

					&:hover {
						cursor: pointer;
						color: $color_fuscous_gray_approx;
					}
				}
			}

			.grouped-tasks {
				position: relative;
			}

			.completed-hidden ol.completed-tasks {
				display: none;
			}
		}
	}

	h2 {
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 10px;
		margin-top: 20px !important;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 0 $white;
		word-wrap: break-word;
		opacity: .5;

		&:hover {
			opacity: .7;
		}

		&.heading-hiddentasks {
			display: inline-block;
			padding-right: 16px;
			background-position: right center;
			cursor: pointer;
		}
	}

	#add-task {
		margin: 12px 0;
		position: relative;
		border: 1px solid $color_celeste_approx;
		background: none repeat scroll 0 0 $color_gallery_approx;
		width: calc(100% - 54px);
		float: left;
		height: 34px;

		&.focus {
			background-color: $white;
		}

		.icon {
			position: absolute;
			top: 6px;
		}

		input {
			font-size: 13px;
			width: 100%;
			color: $color_fuscous_gray_approx;
			border: medium none !important;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 !important;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none !important;
			padding: 0 60px 0 32px;
			margin: 0;
			cursor: text;
			outline: none;
			min-height: 32px;
		}
	}

	.sortorder-dropdown-button {
		background-color: $color_gallery_90_approx;
		border: 1px solid $color_celeste_approx;
		width: 42px;
		height: 34px;
		margin: 12px 0 12px 12px;
		padding: 0;
		float: right;
		cursor: pointer;

		.sort-indicator {
			margin-left: 0;
			visibility: visible;
		}
	}
}

#app-sidebar {
	.icon.detail-checkbox {
		left: 16px !important;
		cursor: pointer;
		position: absolute;
		top: 19px;
		margin: 0;
	}

	div.content-wrapper {
		padding: 0;
		height: 100%;

		> div {
			height: 100%;
			position: relative;
		}

		div {
			&.notice {
				color: $color_suva_gray_approx;
				font-size: 16px;
				position: absolute;
				text-align: center;
				top: 50%;
				width: 100%;
			}

			&.footer {
				border-top: 1px solid $color_quill_gray_approx;
				bottom: 0;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 1px 0 $white_50 inset;
				height: 65px;
				left: 0;
				position: absolute;
				right: 0;

				.icon {
					position: absolute;
					bottom: 7px;
					left: 8px;
				}

				.detail-addcomment {
					padding: 4px 10px 0;

					input {
						background: none repeat scroll 0 0 $white;
						border: 1px solid $color_silver_approx;
						//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
						border-radius: 0;
						//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
						box-shadow: 0 1px 2px $black_10 inset;
						//Instead of the line below you could use @include box-sizing($bs)
						box-sizing: border-box;
						color: $color_masala_approx;
						font-family: $font_0, $font_1, $font_2, $font_3;
						font-size: 13px;
						font-weight: 500;
						margin-top: 2px;
						outline: medium none;
						padding: 4px;
						//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
						transition: all .2s ease-in-out 0s;
					}

					input[type="text"] {
						width: 230px;
					}

					input[type="button"] {
						float: right;
						margin-right: 0;
						color: $color_pink_swan_approx;
						cursor: default;

						&.active {
							color: $white;
							background: linear-gradient(to top, $color_picton_blue_approx 0, $color_mariner_approx 100%) repeat scroll 0 0 transparent;
							//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
							transition: none;
							cursor: pointer;
						}
					}
				}

				.detail-close .icon {
					left: auto;
					right: 8px;
				}
			}
		}

		.title {
			background-color: $color_wild_sand_approx;
			border-bottom: 1px solid $black_24;
			font-size: 16px;
			font-weight: bold;
			line-height: 24px;
			min-height: 24px;
			padding: 16px 55px 13px;
			//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			text-shadow: 0 1px 0 $white;
			word-wrap: break-word;

			.title-text {
				cursor: text;
				display: block;

				&.strike-through {
					text-decoration: line-through;
					//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					text-shadow: none;
				}

				a {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			textarea {
				@extend %extend_2;

				margin: 0;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 0;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: absolute;
				resize: none;
				top: 0;
				width: 100%;
			}

			pre {
				@extend %extend_2;

				border: 0 none !important;
				display: block;
				margin: 0;
				outline: 0 none;
				padding: 0 !important;
				visibility: hidden;
			}

			.expandable-container {
				background: none repeat scroll 0 0 $white;
				border: 1px solid $color_silver_chalice_approx;
				margin: -1px -4px -1px -6px;
				padding: 0 5px;
				display: none !important;

				.expandingArea {
					position: relative;
				}
			}

			&.editing {
				.title-text {
					display: none !important;
				}

				.expandable-container {
					display: block !important;
				}
			}
		}

		.body {
			bottom: 65px;
			left: 0;
			overflow: auto;
			position: absolute;
			right: 0;
			top: 55px;

			.note {
				border-width: 1px;
				border-style: solid;
				border-color: $color_celeste_approx;
				font-size: 13px;
				line-height: 26px;
				margin: 0 20px;
				padding: 5px 15px;
				cursor: text;

				.expandingArea {
					position: relative;
					margin-left: -1px;

					textarea {
						@extend %extend_3;

						margin: 0 0 0 1px;
						//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
						border-radius: 0;
						height: 100%;
						left: 0;
						overflow: hidden;
						position: absolute;
						resize: none;
						top: 0;
						width: 100%;
						color: $color_masala_approx;
						font-weight: 500;
						outline: medium none;
					}

					pre {
						@extend %extend_3;

						border: 0 none !important;
						display: block;
						margin: 0;
						outline: 0 none;
						padding: 0 !important;
						visibility: hidden;
					}
				}

				.note-body {
					@extend %extend_4;

					a {
						cursor: text;
					}

					.content-fakeable {
						cursor: text !important;

						.display-view {
							display: block;
						}

						.edit-view {
							display: none !important;
						}

						&.editing {
							.display-view {
								display: none !important;
							}

							.edit-view {
								display: block !important;
							}
						}
					}

					.edit-view {
						cursor: text !important;
					}

					.display-view {
						cursor: text !important;
						white-space: pre-wrap;

						a {
							cursor: pointer;
							text-decoration: underline;
						}
					}
				}

				.note-edit {
					@extend %extend_4;

					a {
						cursor: text;
					}

					.content-fakeable {
						cursor: text !important;

						.display-view {
							display: block;
						}

						.edit-view {
							display: none !important;
						}

						&.editing {
							.display-view {
								display: none !important;
							}

							.edit-view {
								display: block !important;
							}
						}
					}

					.edit-view {
						cursor: text !important;
					}

					.display-view {
						cursor: text !important;
						white-space: pre-wrap;

						a {
							cursor: pointer;
							text-decoration: underline;
						}
					}
				}

				.open-fullscreen-note {
					margin-top: -2px;
					padding-bottom: 10px;
					padding-left: 10px;
					position: absolute;
					right: 23px;
					z-index: 9999;
				}
			}

			.subtasks {
				background: none repeat scroll 0 0 $white;
				border: 1px solid $color_kangaroo_approx;
				//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				box-shadow: 0 2px 3px $black_10;
				margin: 20px;
				position: relative;

				&.buffer {
					padding-bottom: 32px;
				}
			}

			.section {
				border-bottom: 1px dotted $color_silver_chalice_approx;
				height: 46px;
				padding: 9px 20px 9px 55px;
				position: relative;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: 0 1px 0 $white;
				border-top: none;
				margin-bottom: 0;

				input {
					background: none repeat scroll 0 0 $white;
					border: 1px solid $color_silver_approx;
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 0;
					margin-top: 2px;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: 0 1px 2px $black_10 inset;
					color: $color_masala_approx;
					font-family: $font_0, $font_1, $font_2, $font_3;
					font-size: 13px;
					font-weight: 500;
					outline: medium none;
					padding: 4px;

					&.focus {
						background-color: $color_desert_storm_approx;
						border: 1px solid $color_curious_blue_65_approx;
						//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
						box-shadow: 0 0 4px $color_curious_blue_32_approx, 0 1px 1px $white_43, 0 2px 4px $color_curious_blue_12_approx inset, 0 0 4px $color_curious_blue_20_approx inset;
					}
				}

				input[type="range"] {
					border: medium none;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					width: calc(100% - 90px);
					margin: 5px 36px 0 5px;
					height: 17px;
				}

				input[type="text"] {
					float: left;
					min-height: 0;
				}

				select {
					background-color: rgba(0, 0, 0, 0);
					//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
					border-radius: 0;
					border: 1px solid $color_celeste_approx;
					padding: 0;
					width: 98px;
					margin: 0;
					font-weight: normal;
					height: 19px;
				}

				.icon {
					left: 16px;
					position: absolute;
					top: 13px;

					&.detail-remindertype {
						display: none;
						left: 38px;
						opacity: .4;

						&:hover {
							opacity: .8;
						}
					}
				}

				.section-title {
					color: $color_star_dust_approx;
					font-weight: bold;
					margin-top: 3px;
					display: block;
				}

				.section-edit {
					display: none;
				}

				&.editing {
					.icon {
						&.detail-save {
							display: inline-block;
						}

						&.detail-delete {
							display: block;
						}

						&.detail-remindertype {
							display: block;
						}
					}

					.section-title {
						display: none;
					}

					.section-edit {
						display: block;
					}
				}

				&.date {
					.section-title {
						&.overdue {
							color: $color_well_read_approx !important;
						}

						&.repeat {
							margin-top: -2px;
						}
					}

					.icon.ico-percent {
						opacity: 1;
					}

					&:hover .icon.detail-delete {
						display: block;
					}
				}

				&.detail-reminder {
					.section-description {
						display: none;
						font-size: 11px;
						margin-top: -6px;

						&.repeat {
							display: block;
						}
					}

					&.date .section-description {
						display: block;
					}
				}

				&.detail-categories {
					height: auto;
					padding-left: 50px;
				}

				&.detail-note {
					padding: 20px 0;
					height: auto;
				}

				&.detail-comments {
					background: none;
					padding: 10px 0;
					height: auto;

					.comment-item {
						padding: 5px 55px 0;
						position: relative;

						.avatar {
							width: 32px;
							height: 32px;
							position: absolute;
							left: 10px;
							top: 10px;
							//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
							border-radius: 2px;
							overflow: hidden;

							img {
								height: 100%;
								width: 100%;
							}
						}

						.username {
							display: inline-block;
							font-weight: bold;
						}

						.time {
							color: $color_star_dust_approx;
							font-size: 11px;
						}

						.icon.detail-delete {
							top: 5px;
						}

						&:hover .icon.detail-delete {
							display: block;
						}
					}
				}

				&.detail-addcomment {
					border-top: 1px dotted $color_silver_chalice_approx;
					bottom: 0;
					left: 0;
					position: absolute;
					right: 0;
				}

				.select2-search-field input {
					border: 0 none;
					//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					font-weight: bold;
					margin-top: 0;
					font-family: inherit;
				}

				&.active .select2-search-field input {
					color: $color_san_marino_approx;
				}
			}

			.detail-comments .comment a {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		&.completed .body .section .section-title {
			color: $color_star_dust_approx !important;
		}

		.task-list .task-body .title-wrapper .title a {
			cursor: pointer;
			text-decoration: underline;
		}

		.disabled .body .section {
			.select2-search-field input {
				width: auto;
				display: block !important;
			}

			&.date:hover .icon.detail-delete {
				display: none;
			}
		}
	}
}

.date {
	.icon {
		&.ico-calendar-due {
			opacity: 1;
		}

		&.ico-calendar-overdue {
			opacity: 1;
		}
	}

	.section-title {
		color: $color_san_marino_approx !important;
	}
}

.high {
	.section-title {
		color: $color_well_read_approx !important;
	}

	.icon.detail-priority {
		opacity: 1;
	}
}

.medium {
	.section-title {
		color: $color_school_bus_yellow_approx !important;
	}

	.icon.detail-priority {
		opacity: 1;
	}
}

.low {
	.section-title {
		color: $color_san_marino_approx !important;
	}

	.icon.detail-priority {
		opacity: 1;
	}
}

#modal-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 $black_25;
}

#settings_modal {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 6px;

	.header {
		h2 {
			font-size: 17px;
			padding: 10px;
			text-align: center;
		}

		.button {
			position: absolute;
			top: 3px;
			right: 5px;
		}
	}

	.navbar {
		border-color: $color_celeste_approx;
		border-style: solid;
		border-width: 1px 0;
		height: 50px;
	}

	.content {
		min-height: 100px;
	}
}

.button {
	background: linear-gradient(to top, $color_picton_blue_approx 0, $color_mariner_approx 100%) repeat scroll 0 0 transparent;
	border-color: $color_matisse_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 0 $white_30 inset;
	color: $white;
	font-weight: bold;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 -1px 0 $black_50;
	line-height: 14px;
	margin-right: 8px;
	padding: 6px 10px 5px;
	position: relative;
	float: right;

	&:hover {
		color: $color_celeste_approx;
	}
}

input {
	&.datepicker-input {
		width: 120px;
	}

	&.timepicker-input {
		width: 80px;
	}

	&.duration-input {
		margin: 2px 0 0 .3em;
		width: 35px;
	}

	&.percent-input {
		width: 35px;
		margin-top: 0;
	}

	&.priority-input {
		width: 35px;
		margin-top: 0;
	}
}

.ui-widget-content {
	background: none repeat scroll 0 0 $color_alabaster_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	color: $color_masala_approx;
	max-width: 304px;
	min-height: 15px;
	min-width: 150px;
	z-index: 1000;
	border: none;
}

.ui-timepicker {
	width: 185px;

	table {
		width: 100%;

		td {
			width: 14%;
			padding: 0;

			a.ui-state-active {
				background: linear-gradient(to top, $color_picton_blue_approx 0, $color_curious_blue_approx 100%) repeat scroll 0 0 transparent;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 3px;
				color: $white;
				opacity: 1;
				position: relative;
				//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
				text-shadow: 0 1px 1px $black_40;
			}

			&.ui-datepicker-today a {
				color: $color_curious_blue_approx;
			}

			&.selected a {
				@extend %extend_11;
			}
		}

		tr {
			line-height: 15px;

			&:hover {
				background: none repeat scroll 0 0 transparent;
			}
		}

		thead th {
			@extend %extend_10;
		}

		a.ui-state-default {
			@extend %extend_12;

			&:hover {
				border: none;
				background: none repeat scroll 0 0 $color_gray_nurse_approx;
			}
		}
	}

	.ui-widget-header {
		@extend %extend_5;
	}

	.ui-timepicker-title {
		text-align: center;
	}

	.ui-datepicker-next {
		@extend %extend_6;
	}

	.ui-datepicker-next-hover {
		@extend %extend_6;
	}

	.ui-datepicker-prev {
		@extend %extend_7;
	}

	.ui-datepicker-prev-hover {
		@extend %extend_7;
	}

	.ui-icon-circle-triangle-w {
		@extend %extend_8;
	}

	.ui-icon-circle-triangle-e {
		@extend %extend_9;
	}
}

.ui-datepicker {
	width: 185px;

	.ui-widget-header {
		@extend %extend_5;
	}

	.ui-timepicker-title {
		text-align: center;
	}

	.ui-datepicker-next {
		@extend %extend_6;
	}

	.ui-datepicker-next-hover {
		@extend %extend_6;
	}

	.ui-datepicker-prev {
		@extend %extend_7;
	}

	.ui-datepicker-prev-hover {
		@extend %extend_7;
	}

	.ui-icon-circle-triangle-w {
		@extend %extend_8;
	}

	.ui-icon-circle-triangle-e {
		@extend %extend_9;
	}

	table {
		width: 100%;

		tr {
			line-height: 15px;

			&:hover {
				background: none repeat scroll 0 0 transparent;
			}
		}

		td {
			width: 14%;
			padding: 0;

			&.ui-datepicker-today a {
				color: $color_curious_blue_approx;
			}

			&.selected a {
				@extend %extend_11;
			}
		}

		thead th {
			@extend %extend_10;
		}

		a.ui-state-default {
			@extend %extend_12;

			&:hover {
				border: none;
				background: none repeat scroll 0 0 $color_gray_nurse_approx;
			}
		}
	}
}

div {
	&.ui-datepicker {
		@extend %extend_13;

		.arrow {
			@extend %extend_14;
		}

		&::after {
			@extend %extend_15;
		}

		&::before {
			@extend %extend_16;
		}
	}

	&.ui-timepicker {
		@extend %extend_13;

		.arrow {
			@extend %extend_14;
		}

		&::after {
			@extend %extend_15;
		}

		&::before {
			@extend %extend_16;
		}
	}

	&.percentdone {
		height: 3px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px 0 0 2px;
		opacity: .75;
	}

	&.percentbar {
		height: 3px;
		position: relative;
		top: 28px;
		left: 42px;
		margin-right: 103px;
		margin-bottom: -5px;
		background-color: $color_celeste_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
	}
}

#searchresults {
	padding-top: 0 !important;
	margin-top: 20px !important;
	background-color: transparent !important;
	min-height: 150px;

	#status {
		padding: 10px 0 18px !important;
		height: 22px !important;
		background-color: transparent !important;
		font-weight: bold;
		color: $color_mountain_mist_approx;
		font-size: 13px !important;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 0 $white;

		&.emptycontent {
			position: relative;
		}
	}

	span.icon.task-checkbox {
		opacity: .6;
	}
}

.template {
	display: none;
}

.categories-list {
	display: inline-block;
	vertical-align: middle;

	li {
		background-color: $color_wild_sand_approx;
		border: 1px solid $color_celeste_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px;
		color: $color_star_dust_approx;
		float: left;
		font-weight: bold;
		margin: -2px 4px 0;
		padding: 2px 5px;
		min-height: 22px;
	}
}

#app-settings-content {
	li {
		line-height: 3em;
		position: relative;
		height: 40px;

		.label-container {
			white-space: nowrap;
			padding-right: 115px;
			display: inline-block;
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
			height: 100%;
		}

		select {
			position: absolute;
			right: 0;
		}

		&.headline {
			font-weight: bold;
			line-height: 1.5em;
		}
	}

	.icon {
		margin-top: -3px;
	}

	select {
		float: right;
		min-width: 105px;
	}
}

ol[dnd-list] {
	.dndDraggingSource {
		display: none;
	}

	.dndPlaceholder {
		display: block;
		background-color: $color_alto_approx;
		min-height: 37px;
	}

	.copy.dndDraggingSource {
		display: block;
	}
}

.colorpicker {
	display: block;
	height: 30px;
	height: auto;
	padding-bottom: 3px;
	padding-top: 3px;

	.colorpicker-list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;

		li {
			height: 24px;
			width: calc(100% / 10) !important;

			&.selected {
				border: 1px solid $color_mine_shaft_approx;
			}

			&.randomcolour {
				cursor: pointer;

				.ico-random {
					filter: invert(1);
					opacity: 1;
				}
			}
		}
	}
}

.confirmation-default {
	overflow: hidden;
}

.confirmed {
	.confirmation-default {
		display: none !important;
	}

	&.active {
		.confirmation-confirm {
			cursor: pointer !important;
		}

		.countdown {
			display: none;
		}
	}
}

.confirmation-confirm {
	@extend %extend_17;

	background-color: $red !important;
	cursor: default !important;
}

.confirmation-abort {
	@extend %extend_17;
}

.collection .icon {
	opacity: 1;
}

.disabled .icon.detail-star:hover {
	cursor: not-allowed;
}

.active .calendar-indicator {
	height: 16px;
	width: 16px;
	margin-left: 2px;
	margin-right: 2px;
}

tr:last-child .task-item {
	height: 39px;

	div.task-body {
		border-width: 1px;
	}
}

.app-tasks #app-content {
	overflow-x: hidden;
}

td.ui-timepicker-hours table {
	border-right: 1px solid $color_celeste_approx;
}

li.ui-draggable-dragging {
	width: 300px;
	z-index: 101 !important;

	.duedate {
		display: none;
	}
}

.detail-categories .select2-container-multi {
	.select2-choices {
		border: 1px solid transparent;

		.select2-search-choice {
			color: $color_san_marino_approx;
			font-weight: bold;
			line-height: 14px;
			margin: 2px 0 3px 5px;
			background-image: none;
			background-color: $color_wild_sand_approx;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: none;
			border-color: $color_celeste_approx;
			min-height: 22px;

			a.select2-search-choice-close {
				opacity: .4;
				display: initial;
				background: $url_0 no-repeat 60% 40%;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&.select2-container-disabled .select2-choices {
		background-color: $white;
		background-image: none;
		border: none;
		cursor: default;
	}
}

.dropzone-visible > ol[dnd-list] {
	min-height: 50px;
}

.error input.edit {
	color: $color_alizarin_crimson_approx;
	border-color: $color_alizarin_crimson_approx !important;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 6px $color_sundown_approx;
}
