# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset and indentation
[*.{php,js,scss,vue}]
charset = utf-8
indent_style = tab
tab_width = 4
indent_size = 4

# Indentation override for PHP templates
[templates/**.php]
indent_style = space
indent_size = 4
