/**
	* SCSS variables
	*/

//colors
$red: $color-error;				// warnings and errors
$red_overdue: #b3312d;		// overdue dates and high importance
$yellow: #fd0;						// medium importance
$blue_due: #4271a6;				// due dates and low importance
$blue_background: #168ad4;// highlighting date/timepicker dates
$gray_dark: #404040;			// text
$gray: #a0a0a0;						// inactive text, checkbox-borders and separators
$gray_light: #ccc;
$gray_easy: #f7f7f7;
$black: #000;
$white: #fff;
