/**
	* rules for app-navigation
	*/

#app-navigation {
	li {
		transition: max-height 300ms ease 0s;
		max-height: 100px;

		> a {
			padding-right: 20px;
		}

		&.active {
			&.with-menu > a {
				padding-right: 70px;
			}
		}

		&.edit {
			> a,
			.app-navigation-entry-utils,
			.app-navigation-entry-menu {
				display: none;
			}

			.app-navigation-entry-edit.name {
				display: inline-block;
				height: auto;
			}
		}

		.app-navigation-entry-edit {
			&.name,
			&.caldav {
				display: none;
			}
		}

		&.animate-up {
			max-height: 0;
			border-bottom: 0;
			overflow: hidden;
		}

		&:hover > a span {
			&.title {
				opacity: 1;
			}

			&.icon {
				opacity: 1;
			}
		}

		&.list:not(.active) .app-navigation-entry-utils-menu-button {
			display: none;
		}

		&.caldav .app-navigation-entry-edit.caldav {
			display: inline-block;
			height: auto;
		}

		a > span {
			&.icon {
				margin-top: -3px;
				margin-left: 2px;
			}

			&.title {
				margin-left: 11px;
			}
		}
	}

	.app-navigation-entry-edit {
		input.action {
			background-color: $gray_easy;
			width: 36px;
			border-left: 0 none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background-position: center;

			&:hover {
				border-left: 1px solid;
				margin-left: -1px;
				width: 37px;
			}
		}

		&.name input[type="text"] {
			width: calc(100% - 72px);
		}

		&.caldav input[type="text"] {
			width: calc(100% - 36px);
		}
	}

	.app-navigation-entry-utils li {
		font-size: 100%;
	}

	.app-navigation-entry-menu li {
		float: inherit;
		width: auto !important;
		cursor: pointer;

		img {
			cursor: pointer;
			margin-right: 5px;
			vertical-align: text-bottom;
		}

		span {
			cursor: pointer;
		}

		button {
			float: inherit;
		}

		&:hover a {
			opacity: 1 !important;
		}

		&.confirmed a {
			&.confirmation-confirm {
				display: inline-block !important;
				opacity: 1;
			}

			&.confirmation-abort {
				display: inline-block !important;
				opacity: 1;
			}
		}
	}

	> ul ul.colorpicker-list {
		display: inline-flex;
	}
}

.calendar-indicator {
	min-width: 12px;
	min-height: 12px;
	background-color: $color-primary;
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-top: 0;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	margin-left: 4px;
	margin-right: 2px;
}

.active .calendar-indicator {
	height: 16px;
	width: 16px;
	margin-left: 2px;
	margin-right: 2px;
}

.error input.edit {
	color: $color-error;
	border-color: $color-error !important;
	box-shadow: 0 0 6px rgba($color-error, .3);
}
