/**
	* rules for settings area
	*/

#app-settings-content {
	li {
		line-height: 3em;
		position: relative;
		height: 40px;

		.label-container {
			white-space: nowrap;
			padding-right: 115px;
			display: inline-block;
			text-overflow: ellipsis;
			width: 100%;
			overflow: hidden;
			height: 100%;
		}

		select {
			position: absolute;
			right: 0;
		}

		&.headline {
			font-weight: bold;
			line-height: 1.5em;
		}
	}

	.icon {
		margin-top: -3px;
	}

	select {
		float: right;
		min-width: 105px;
	}
}

#collection_today > a > span.icon,
#app-settings .label-container span.icon {
	font-size: 7px;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
}
