/**
	* rules for app-content
	*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#app-content {
	div {
		&.content-wrapper {
			padding: 6px 17px 75px;
			box-sizing: border-box;
			height: 100%;
			overflow: hidden;

			.task-list {
				height: 100%;
				width: 100%;
				overflow-y: auto;
			}

			.task-body .title-wrapper span.title a {
				cursor: pointer;
				text-decoration: underline;
			}
		}

		&.task-list {
			.loadmore {
				font-size: 11px;
				margin-top: 10px;
				text-align: center;

				span {
					color: nc-lighten($color-main-text, 60%);
					background-color: nc-darken($color-main-background, 3%);
					border-radius: 10px;
					padding: 3px 6px;

					&:hover {
						cursor: pointer;
						color: nc-lighten($color-main-text, 25%);
					}
				}
			}

			.grouped-tasks {
				position: relative;
			}

			.completed-hidden ol.completed-tasks {
				display: none;
			}
		}
	}

	h2 {
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 10px;
		margin-top: 20px !important;
		word-wrap: break-word;
		opacity: .5;

		&:hover {
			opacity: .7;
		}

		&.heading-hiddentasks {
			display: inline-block;
			padding-right: 16px;
			background-position: right center;
			cursor: pointer;
		}
	}

	#add-task {
		margin: 12px 0;
		position: relative;
		border: 1px solid nc-darken($color-main-background, 8%);
		background: none repeat scroll 0 0 nc-darken($color-main-background, 8%);
		width: calc(100% - 54px);
		float: left;
		height: 34px;

		&.focus {
			background-color: $color-main-background;
		}

		.icon {
			position: absolute;
			top: 6px;
		}

		input {
			font-size: 13px;
			width: 100%;
			color: nc-darken($color-main-background, 8%);
			border: medium none !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			padding: 0 60px 0 32px;
			margin: 0;
			cursor: text;
			outline: none;
			min-height: 32px;
		}
	}

	.sortorder-dropdown-button {
		background-color: nc-darken($color-main-background, 3%);
		border: 1px solid nc-darken($color-main-background, 8%);
		width: 42px;
		height: 34px;
		margin: 12px 0 12px 12px;
		padding: 0;
		float: right;
		cursor: pointer;

		.sort-indicator {
			margin-left: 0;
			visibility: visible;
		}
	}
}

ol[dnd-list] {
	.dndDraggingSource {
		display: none;
	}

	.dndPlaceholder {
		display: block;
		background-color: nc-darken($color-main-background, 8%);
		min-height: 37px;
	}

	.copy.dndDraggingSource {
		display: block;
	}
}

.dropzone-visible > ol[dnd-list] {
	min-height: 50px;
}

#content {
	overflow: hidden;
	color: nc-darken($color-main-background, 8%);
}

.app-tasks #app-content {
	overflow-x: hidden;
}
