/**
	* rules for app-sidebar
	*/

#app-sidebar {
	.flex-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	div.content-wrapper {
		padding: 0;

		.notice {
			color: $gray;
			font-size: 16px;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
		}

		.footer {
			border-top: 1px solid $gray_light;
			flex: 0 0 auto;
			height: 30px;

			a {
				padding: 7px;

				&.left {
					float: left;
				}

				&.right {
					float: right;
				}

				.icon {
					display: block;
				}
			}
		}

		.title {
			flex: 0 0 auto;
			background-color: $gray_easy;
			border-bottom: 1px solid $gray_light;
			font-size: 16px;
			font-weight: bold;
			min-height: 50px;
			word-wrap: break-word;

			&.editing {
				.title-text {
					display: none !important;
				}

				.expandable-container {
					display: inline-block !important;
				}
			}

			.title-text {
				cursor: text;
				display: inline-block;
				min-height: 24px;
				margin: 13px 0;
				width: calc(100% - 100px);
				padding: 0 6px;
				line-height: 22px;
				// this border is to adjust the size of the div to the size
				// of the input field for editing the title
				// (setting a padding always let to a small flickering)
				border: 1px solid transparent;

				&.strike-through {
					text-decoration: line-through;
				}

				a {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.expandable-container {
				background: none repeat scroll 0 0 $white;
				box-sizing: border-box;
				border: 1px solid $gray;
				padding: 0 6px;
				display: none !important;
				margin: 13px 0;
				width: calc(100% - 100px);
				line-height: 24px;
				min-height: 24px;

				.expandingArea {
					position: relative;
				}
			}

			.checkbox {
				float: left;
				padding: 16px 17px 18px;

				.icon {
					cursor: pointer;
					margin: 0;
				}
			}

			.star {
				padding: 13px;
				float: right;

				.icon {
					height: 24px;
					width: 24px;
					background-size: 144px 144px;

					&:hover {
						opacity: 1;
					}
				}
			}

			textarea,
			pre {
				box-shadow: none;
				font-size: 16px;
				font-weight: bold;
				line-height: 22px;
				min-height: 22px;
				background: none repeat scroll 0 0 transparent;
				border: medium none;
				padding: 0;
				white-space: pre-wrap;
				word-wrap: break-word;
			}

			textarea {
				margin: 0;
				border-radius: 0;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: absolute;
				resize: none;
				top: 0;
				width: 100%;
			}

			pre {
				border: 0 none !important;
				display: block;
				margin: 0;
				outline: 0 none;
				padding: 0 !important;
				visibility: hidden;
			}
		}

		.body {
			flex: 1 1 auto;
			overflow-y: auto;
			position: relative;

			.section {
				border-bottom: 1px dotted $gray;
				padding: 0;
				position: relative;
				margin-bottom: 0;
				width: 100%;
				color: $gray;

				&:last-of-type {
					border-bottom: unset;
				}

				&.low,
				&.date {
					color: $blue_due;
				}

				&.high {
					color: $red_overdue;
				}

				&.medium {
					color: $yellow;
				}

				&.date:hover .icon.icon-trash {
					display: block;
				}

				&.date .icon {
					&.icon-calendar-due,
					&.icon-calendar-overdue,
					&.icon-percent {
						opacity: 1;
					}
				}

				&.detail-note {
					padding: 20px 0;
					height: auto;
				}

				&.editing {
					.icon {
						&.detail-save,
						&.icon-trash {
							display: block;
						}
					}

					.section-title {
						display: none;
					}

					.section-edit {
						display: inline-block;
					}
				}

				.icon {
					&.icon-trash {
						display: none;
						margin-left: auto;
						right: 22px;
					}

					&.detail-save {
						display: none;
						margin-left: auto;
						right: 44px;
					}
				}

				> div {
					padding-left: 12px;
					line-height: 44px;

					&.utils {
						position: absolute;
						right: 0;
						top: 0;
						padding-right: 15px;

						a {
							vertical-align: middle;
							display: inline-block;
						}
					}

					.section-title {
						font-weight: bold;
						margin-left: 12px;
						line-height: 22px;
						width: calc(100% - 100px);
						display: inline-block;
						vertical-align: middle;
					}

					.icon {
						margin: 0;
						float: unset;
					}
				}

				input {
					background-color: $white;
					border: 1px solid $blue_background;
					border-radius: 0;
					margin-top: 0;
					color: $gray_dark;
					font-weight: 500;
					outline: medium none;
					padding: 4px;
				}

				input[type="range"] {
					border: medium none;
					box-shadow: none;
					width: calc(100% - 50px);
					vertical-align: middle;
				}

				input[type="text"] {
					box-shadow: 0 0 4px rgba($blue_background, .3), 0 1px 1px rgba($white, .4), 0 2px 4px rgba($blue_background, .1) inset, 0 0 4px rgba($blue_background, .2) inset;
					background: none repeat scroll 0 0 $gray_easy;
					margin: 0;
					min-height: 0;
				}

				input {
					&.datepicker-input {
						width: 60%;
					}

					&.timepicker-input {
						width: calc(40% - 10px);
					}

					&.duration-input {
						margin: 2px 0 0 .3em;
						width: 35px;
					}

					&.percent-input,
					&.priority-input {
						width: 35px;
						margin-top: 0;
					}
				}

				select {
					background-color: rgba(0, 0, 0, 0);
					border-radius: 0;
					border: 1px solid $gray_light;
					padding: 0;
					width: 98px;
					margin: 0;
					font-weight: normal;
					height: 19px;
				}

				.section-edit {
					display: none;
					margin-left: 12px;
					vertical-align: middle;
					width: calc(100% - 80px);
					line-height: 0;
				}

				.detail-categories-container {
					width: calc(100% - 40px);
					display: inline-block;
					margin-left: 12px;
				}

				&.detail-categories .select2-container-multi {
					.select2-choices {
						border: 1px solid transparent;

						.select2-search-choice {
							color: $blue_due;
							font-weight: bold;
							line-height: 14px;
							margin: 2px 0 3px 5px;
							background-image: none;
							background-color: $gray_easy;
							box-shadow: none;
							border-color: $gray_light;
							min-height: 22px;

							a.select2-search-choice-close {
								opacity: .4;
								display: initial;

								@extend .icon;
								@extend .icon-close;

								&:hover {
									opacity: 1;
								}
							}
						}
					}

					&.select2-container-disabled .select2-choices {
						background-color: $white;
						background-image: none;
						border: none;
						cursor: default;
					}
				}

				.select2-search-field input {
					border: 0 none;
					box-shadow: none;
					font-weight: bold;
					margin-top: 0;
					font-family: inherit;
				}

				&.active .select2-search-field input {
					color: $blue_due;
				}

				.note {
					border-width: 1px;
					border-style: solid;
					border-color: $gray_light;
					font-size: 13px;
					line-height: 26px;
					margin: 0 20px;
					padding: 5px 15px;
					cursor: text;

					.expandingArea {
						position: relative;
						margin-left: -1px;

						textarea,
						pre {
							box-shadow: none;
							background: none repeat scroll 0 0 transparent;
							border: medium none;
							line-height: 26px;
							padding: 0;
							white-space: pre-wrap;
							word-wrap: break-word;
						}

						textarea {
							margin: 0 0 0 1px;
							border-radius: 0;
							height: 100%;
							left: 0;
							overflow: hidden;
							position: absolute;
							resize: none;
							top: 0;
							width: 100%;
							color: $gray_dark;
							font-weight: 500;
							outline: medium none;
						}

						pre {
							border: 0 none !important;
							display: block;
							margin: 0;
							outline: 0 none;
							padding: 0 !important;
							visibility: hidden;
						}
					}

					.note-body,
					.note-edit {
						min-height: 140px;
						word-wrap: break-word;
						cursor: text;

						.content-fakeable {
							&.editing {
								.display-view {
									display: none !important;
								}

								.edit-view {
									display: block !important;
								}
							}

							.display-view {
								cursor: text;
								display: block;
								white-space: pre-wrap;
							}

							.edit-view {
								display: none !important;
							}
						}
					}
				}
			}
		}

		.disabled .body .section {
			.select2-search-field input {
				width: auto;
				display: block !important;
			}

			&.date:hover .icon.icon-trash {
				display: none;
			}
		}
	}
}
