/**
	* rules for icons
	*/
.collection .icon {
	opacity: 1;
}

.disabled .icon.detail-star:hover {
	cursor: not-allowed;
}

.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	opacity: .5;
	transition: opacity 100ms ease 0s;

	&.icon-checkmark,
	&.icon-tag-active,
	&[class*=" icon-task-star-"] {
		opacity: 1 !important;
	}

	&.task-checkbox,
	&.detail-checkbox {
		border-radius: 3px;
		border: 1px solid $gray;
		float: left;
		margin: 9px;

		&:not(.icon-checkmark) {
			background: unset;
		}

		&:not(.disabled):hover {
			border-color: $black;
		}

		&.disabled {
			cursor: not-allowed;
		}
	}

	&.icon-note {
		display: none;
	}

	&.right {
		float: right;
	}

	&.toggle-completed-subtasks {
		float: right;
		opacity: 1;

		&:hover {
			opacity: 1;
		}
	}
}

.section {
	.icon {
		&.icon-trash {
			display: none;
			margin-left: auto;
			right: 22px;
		}

		&.detail-save {
			display: none;
			margin-left: auto;
			right: 44px;
		}
	}
}

a {
	&.detail-star {
		padding: 15px;
		margin-left: auto;
		float: right;

		.icon {
			height: 24px;
			width: 24px;
			background-size: 144px 144px;

			&:hover {
				opacity: 1;
			}
		}
	}

	&:hover .icon {
		&.icon-trash,
		&.icon-hide {
			opacity: 1;
		}
	}
}
