/**
	* rules for searchresults
	*/

#searchresults {
	padding-top: 0 !important;
	margin-top: 20px !important;
	background-color: transparent !important;
	min-height: 150px;

	span.icon.task-checkbox {
		opacity: .6;
	}
}

#status {
	padding: 10px 0 18px !important;
	height: 22px !important;
	background-color: transparent !important;
	font-weight: bold;
	color: nc-lighten($color-main-text, 63%);
	font-size: 13px !important;

	&.emptycontent {
		position: relative;
	}
}
