/**
	* rules for datetimepicker
	*/

.ui-widget-content {
	background: none repeat scroll 0 0 $gray_easy;
	border-radius: 4px;
	color: $gray_dark;
	max-width: 304px;
	min-height: 15px;
	min-width: 150px;
	z-index: 1000;
	border: none;
}

.ui-timepicker,
.ui-datepicker {
	width: 185px;

	table {
		width: 100%;

		tr {
			line-height: 15px;

			&:hover {
				background: none repeat scroll 0 0 transparent;
			}
		}

		td {
			width: 14%;
			padding: 0;
		}

		thead th {
			color: $gray;
			font-size: 9px;
			height: auto;
			padding: 4px 0;
			text-align: center;
			text-transform: uppercase;
		}

		a.ui-state-default {
			border: none;
			background: none repeat scroll 0 0 transparent;
			color: $gray_dark;
			border-radius: 3px;
			cursor: pointer;
			display: block;
			font-size: 12px;
			font-weight: 500;
			padding: 2px 0;
			margin: 1px;
			text-align: center;

			&:hover {
				border: none;
				background: none repeat scroll 0 0 $gray_light;
			}
		}
	}

	.ui-widget-header {
		background: none repeat scroll 0 0 transparent;
		border: none;
		color: $gray_dark;
		font-weight: 600;
		font-size: 12px;
	}
}

.ui-datepicker table td.selected a,
.ui-timepicker table td a.ui-state-active {
	background: linear-gradient(to top, rgba($blue_background, .8), rgba($blue_background, .6)) repeat scroll 0 0 transparent !important;
	border-radius: 3px;
	color: $white !important;
	opacity: 1;
	position: relative;
}

.ui-timepicker {
	.ui-timepicker-title {
		text-align: center;
	}
}

.ui-datepicker {
	table {
		td {
			&.ui-datepicker-today a {
				color: $blue_background;
			}
		}
	}

	.ui-datepicker-next,
	.ui-datepicker-next-hover {
		right: 2px;
		top: 2px;
		background: none;
		border: none;
	}

	.ui-datepicker-prev,
	.ui-datepicker-prev-hover {
		left: 2px;
		top: 2px;
		background: none;
		border: none;
	}

	.ui-icon {
		@extend .icon;

		height: 16px;
		width: 16px;
	}

	.ui-icon-circle-triangle-w {
		@extend .icon-sort-up;
	}

	.ui-icon-circle-triangle-e {
		@extend .icon-sort-down;
	}
}

div {
	&.ui-datepicker,
	&.ui-timepicker {
		background: none repeat scroll 0 0 $gray_easy;
		border-radius: 4px;
		box-shadow: 0 1px 6px $gray_dark;
		color: $gray_dark;
		max-width: 304px;
		min-height: 15px;
		min-width: 150px;
		position: absolute;
		z-index: 1000;
		margin-top: 9px;
		padding: 8px;

		.arrow {
			border-color: transparent transparent $gray_easy;
			left: 50%;
			margin-left: -12px;
			top: -24px;
			border-style: solid;
			border-width: 12px;
			height: 0;
			position: absolute;
			width: 0;
			z-index: 100;
		}

		&::after {
			border-bottom: 9px solid $gray_easy;
			border-left: 9px solid rgba(0, 0, 0, 0);
			border-right: 9px solid rgba(0, 0, 0, 0);
			content: "";
			display: inline-block;
			left: 46%;
			position: absolute;
			top: -9px;
		}

		&::before {
			border-bottom: 9px solid $gray_light;
			border-left: 9px solid rgba(0, 0, 0, 0);
			border-right: 9px solid rgba(0, 0, 0, 0);
			content: "";
			display: inline-block;
			left: 46%;
			position: absolute;
			top: -9px;
		}
	}
}

td.ui-timepicker-hours table {
	border-right: 1px solid $gray_light;
}
