/**
	* rules for sortorder-dropdown
	*/

.sortorder-dropdown {
	display: none;
	top: 68px;
	right: 3px;

	&.open {
		display: block;
	}

	.icon {
		margin: 12px 8px;

		&.sort-indicator {
			margin-left: auto;
			margin-right: 0;
			float: right;
			visibility: hidden;
		}
	}

	.label {
		margin-right: 10px;
	}

	.active .icon.sort-indicator {
		visibility: visible;
	}

	li {
		float: inherit;
		width: auto !important;
		cursor: pointer;
		opacity: .57;

		a {
			width: 100% !important;
		}

		&.active {
			opacity: 1 !important;
		}

		&:hover {
			opacity: 1 !important;
		}
	}
}
