.icon {
	background: url("../img/sprites.svg") no-repeat;
}

.icon-add {
	background-position: 20% 0;
}

.icon-all {
	background-position: 80% 20%;
}

.icon-alphabetically {
	background-position: 0 20%;
}

.icon-calendar {
	background-position: 20% 20%;
}

.icon-calendar-due {
	background-position: 40% 0;
}

.icon-calendar-overdue {
	background-position: 40% 20%;
}

.icon-checkmark {
	background-position: 0 40%;
}

.icon-checkmark-color {
	background-position: 20% 40%;
}

.icon-clock {
	background-position: 40% 40%;
}

.icon-clock-due {
	background-position: 60% 0;
}

.icon-clock-overdue {
	background-position: 60% 20%;
}

.icon-close {
	background-position: 60% 40%;
}

.icon-current {
	background-position: 0 60%;
}

.icon-hide {
	background-position: 20% 60%;
}

.icon-manual {
	background-position: 40% 60%;
}

.icon-menu {
	background-position: 60% 60%;
}

.icon-note {
	background-position: 80% 0;
}

.icon-percent {
	background-position: 0 0;
}

.icon-percent-active {
	background-position: 80% 40%;
}

.icon-random {
	background-position: 80% 60%;
}

.icon-settings {
	background-position: 0 80%;
}

.icon-sort-down {
	background-position: 20% 80%;
}

.icon-sort-up {
	background-position: 40% 80%;
}

.icon-subtasks-hidden,
.icon-subtasks-hidden\:regular {
	background-position: 60% 80%;
}

.icon-subtasks-hidden:hover,
.icon-subtasks-hidden\:hover {
	background-position: 80% 80%;
}

.icon-subtasks-visible {
	background-position: 100% 0;
}

.icon-tag {
	background-position: 100% 20%;
}

.icon-tag-active {
	background-position: 100% 40%;
}

.icon-task-star {
	background-position: 100% 60%;
}

.icon-task-star-high {
	background-position: 100% 80%;
}

.icon-task-star-low {
	background-position: 0 100%;
}

.icon-task-star-medium {
	background-position: 20% 100%;
}

.icon-toggle {
	background-position: 40% 100%;
}

.icon-trash {
	background-position: 60% 100%;
}

