@include icon-black-white('circle', 'tasks', 1);
@include icon-black-white('reminder', 'tasks', 1);
@include icon-black-white('repeat', 'tasks', 1);
@include icon-black-white('note', 'tasks', 1);

// Hack for https://github.com/nextcloud/nextcloud-vue/issues/1384
body {
	min-height: 100%;
	height: auto;
}

//colors
$red_overdue: #b3312d;		// overdue dates and high importance
$yellow: #fd0;				// medium importance
$blue_due: #4271a6;			// due dates and low importance

/**
 * rules for app-navigation
 */
.app-navigation {
	> ul {
		display: block !important;

		> div > li,
		> li {
			// Overwrite padding until https://github.com/nextcloud/nextcloud-vue/pull/1897#issuecomment-830301938
			// is confirmed
			&.app-navigation-entry {
				padding: 0;
				padding-right: 4px;
			}

			&.dnd-hover,
			&.sortable-ghost {
				background-color: var(--color-primary-light);
				box-shadow: 0 0 3px var(--color-primary);
				z-index: 1000;
			}
		}
	}
}

/**
* rules for app-content
*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.app-content {
	background-color: var(--color-background-dark) !important;

	> div {
		box-sizing: border-box;
		padding-bottom: 75px;

		.task-list {
			width: 100%;
			padding: 0 15px;

			@media only screen and (max-width: $breakpoint-mobile) {
				padding: 0;
			}

			.loadmore {
				font-size: 11px;
				margin-top: 10px;
				text-align: center;
				height: 21px;

				span {
					color: var(--color-text-lighter);
					background-color: var(--color-main-background);
					border-radius: var(--border-radius-pill);
					padding: 3px 6px;

					&:hover {
						cursor: pointer;
						color: var(--color-main-text);
					}
				}
			}

			.grouped-tasks {
				position: relative;
				padding-top: 2px;

				> ol {
					filter: drop-shadow(0 0 1px var(--color-box-shadow));
					z-index: 1;

					&:hover {
						z-index: 10;
					}

					&.completed {
						margin-top: 12px;
					}
				}
			}
		}
	}

	.heading {
		display: flex;
		align-items: center;
		margin-top: 20px !important;

		@media only screen and (max-width: $breakpoint-mobile) {
			padding-left: 15px;
		}

		&--hiddentasks {
			margin-bottom: 0;

			.heading__title {
				display: inline-block;
				padding-right: 16px;
				background-position: right center;
				cursor: pointer;
				&:hover {
					opacity: .7;
				}
			}
		}

		&__title {
			font-weight: bold;
			font-size: 13px;
			word-wrap: break-word;
			opacity: .5;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

		}

		&__icon-bullet {
			width: 14px;
			min-width: 14px;
			height: 14px;
			border: none;
			border-radius: 50%;
			margin-right: 8px;
		}
	}
}

/**
* rules for icons
*/
button.inline {
	box-sizing: border-box;
	width: 44px;
	height: 44px;
	margin: 0;
	cursor: pointer;
	border: none;
	padding: 14px;
	background-color: transparent !important;
	border-radius: 0;

	&:hover .icon {
		opacity: .7;
	}

	span.icon {
		display: block;
		cursor: pointer;
	}
}

input[type='checkbox'].checkbox {
	&:checked + label::before {
		background-image: var(--icon-checkmark-000) !important;
		background-color: unset;
		border-color: unset;
	}
	&:disabled + label::before {
		background-color: var(--color-background-darker) !important;
	}
	+ label::before {
		height: 14px;
		width: 14px;
	}
}

.tooltip-arrow {
	width: unset !important;
}
