@include icon-black-white('circle', 'tasks', 1);

// Hack for https://github.com/nextcloud/nextcloud-vue/issues/1384
body {
	min-height: 100%;
	height: auto;
}

//colors
$red_overdue: #b3312d;		// overdue dates and high importance
$yellow: #fd0;				// medium importance
$blue_due: #4271a6;			// due dates and low importance

/**
 * rules for app-navigation
 */
.app-navigation {
	> ul {
		display: block !important;

		> div > li,
		> li {
			&.collection .app-navigation-entry-icon::before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				background: var(--icon-tasks-sprt-bw-000) no-repeat;
				background-position: inherit;
			}

			// Overwrite padding until https://github.com/nextcloud/nextcloud-vue/pull/1897#issuecomment-830301938
			// is confirmed
			&.app-navigation-entry {
				padding: 0;
				padding-right: 4px;
			}

			&.dnd-hover,
			&.sortable-ghost {
				background-color: var(--color-primary-light);
				box-shadow: 0 0 3px var(--color-primary);
				z-index: 1000;
			}
		}
	}
}

/**
	* rules for app-content
	*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.app-content {
	background-color: var(--color-background-dark) !important;

	> div {
		box-sizing: border-box;
		padding-bottom: 75px;

		.task-list {
			width: 100%;
			padding: 0 15px;

			@media only screen and (max-width: $breakpoint-mobile) {
				padding: 0;
			}

			.loadmore {
				font-size: 11px;
				margin-top: 10px;
				text-align: center;
				height: 21px;

				span {
					color: var(--color-text-lighter);
					background-color: var(--color-main-background);
					border-radius: var(--border-radius-pill);
					padding: 3px 6px;

					&:hover {
						cursor: pointer;
						color: var(--color-main-text);
					}
				}
			}

			.grouped-tasks {
				position: relative;
				padding-top: 2px;

				> ol {
					filter: drop-shadow(0 0 1px var(--color-box-shadow));
					z-index: 1;

					&:hover {
						z-index: 10;
					}

					&.completed {
						margin-top: 12px;
					}
				}
			}
		}
	}

	.heading {
		display: flex;
		align-items: center;
		margin-top: 20px !important;

		@media only screen and (max-width: $breakpoint-mobile) {
			padding-left: 15px;
		}

		&--hiddentasks {
			margin-bottom: 0;

			.heading__title {
				display: inline-block;
				padding-right: 16px;
				background-position: right center;
				cursor: pointer;
				&:hover {
					opacity: .7;
				}
			}
		}

		&__title {
			font-weight: bold;
			font-size: 13px;
			word-wrap: break-word;
			opacity: .5;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

		}

		&__icon-bullet {
			width: 14px;
			min-width: 14px;
			height: 14px;
			border: none;
			border-radius: 50%;
			margin-right: 8px;
		}
	}
}

/**
	* rules for app-sidebar
	*/

#app-sidebar {
	.flex-container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.content-wrapper {
		padding: 0;
		box-sizing: border-box;
		height: 100%;
		overflow: hidden;

		.notice {
			color: var(--color-text-lighter);
			font-size: 16px;
			position: absolute;
			text-align: center;
			top: 50%;
			width: 100%;
		}

		.footer {
			border-top: 1px solid var(--color-border-dark);
			flex: 0 0 auto;
			height: 44px;
			display: flex;
			justify-content: space-between;

			> span {
				padding: 14px;

				&.info {
					cursor: default;
				}

				.icon {
					display: block;
				}
			}
		}

		.title {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			background-color: var(--color-background-hover);
			border-bottom: 1px solid var(--color-border-dark);
			font-size: 16px;
			font-weight: bold;
			min-height: 50px;
			word-wrap: break-word;

			&.editing {
				.title-text {
					display: none !important;
				}

				.expandable-container {
					display: inline-block !important;
				}
			}

			.detail-checkbox {
				padding: 11px 10px;
				padding-right: 7px;

				input[type='checkbox'].checkbox + label {
					&::before {
						border-width: 2px;
						border-radius: var(--border-radius);
						border-color: var(--color-border-dark);
					}

					&:hover {
						border-color: var(--color-border-dark);
					}

					&.priority-high::before {
						border-color: $red_overdue;
					}

					&.priority-medium::before {
						border-color: $yellow;
					}

					&.priority-low::before {
						border-color: $blue_due;
					}
				}
			}

			.title-wrapper {
				flex-grow: 1;

				.title-text,
				.expandable-container {
					max-height: 110px;
					overflow-y: hidden;
					margin: 13px 0;
					min-height: 24px;
					width: 100%;
					padding: 0 6px;
				}

				.title-text {
					cursor: text;
					display: inline-block;
					line-height: 22px;
					// this border is to adjust the size of the div to the size
					// of the input field for editing the title
					// (setting a padding always led to a small flickering)
					border: 1px solid transparent;

					&.strike-through {
						text-decoration: line-through;
					}
				}

				.expandable-container {
					border: 1px solid #a0a0a0;
					display: none;
					line-height: 24px;

					.expandingArea {
						position: relative;
					}
				}

				textarea,
				pre {
					box-shadow: none;
					font-size: 16px;
					font-weight: bold;
					line-height: 22px;
					min-height: 22px;
					background: none repeat scroll 0 0 transparent;
					border: medium none;
					padding: 0;
					white-space: pre-wrap;
					word-wrap: break-word;
				}

				textarea {
					margin: 0;
					border-radius: 0;
					height: 100%;
					left: 0;
					overflow: hidden;
					position: absolute;
					resize: none;
					top: 0;
					width: 100%;
				}

				pre {
					border: 0 none !important;
					display: block;
					margin: 0;
					outline: 0 none;
					padding: 0 !important;
					visibility: hidden;
				}
			}

			.status-display {
				margin: 17px 6px;
				min-width: 16px;
			}

			button {
				padding: 10px;
				display: flex;
				align-items: center;
				justify-content: center;

				.icon {
					transform: scale(1.5);
				}
			}
		}

		.body {
			flex: 1 1 auto;
			overflow-y: auto;
			position: relative;

			.section {
				border-bottom: 1px dotted var(--color-text-lighter);
				padding: 0;
				position: relative;
				margin-bottom: 0;
				width: 100%;
				color: var(--color-text-lighter);
				display: flex;

				> div {
					display: flex;
					line-height: 44px;

					&.section-content {
						flex-grow: 1;
						min-width: 0;

						&.note {
							border-width: 1px;
							border-style: solid;
							border-color: var(--color-border-dark);
							font-size: 13px;
							line-height: 26px;
							margin: 0 20px;
							padding: 5px 15px;
							cursor: text;

							.expandingArea {
								position: relative;
								margin-left: -1px;

								textarea,
								pre {
									box-shadow: none;
									background: none repeat scroll 0 0 transparent;
									border: medium none;
									line-height: 26px;
									padding: 0;
									white-space: pre-wrap;
									word-wrap: break-word;
								}

								textarea {
									margin: 0 0 0 1px;
									border-radius: 0;
									height: 100%;
									left: 0;
									overflow: hidden;
									position: absolute;
									resize: none;
									top: 0;
									width: 100%;
									color: var(--color-main-text);
									font-weight: 500;
									outline: medium none;
								}

								pre {
									border: 0 none !important;
									display: block;
									margin: 0;
									outline: 0 none;
									padding: 0 !important;
									visibility: hidden;
								}
							}

							.note-body,
							.note-edit {
								min-height: 140px;
								word-wrap: break-word;
								cursor: text;
								width: 100%;

								.content-fakeable {
									&.editing {
										.display-view {
											display: none !important;
										}

										.edit-view {
											display: block !important;
										}
									}

									.display-view {
										cursor: text;
									}

									.edit-view {
										display: none !important;
									}
								}
							}
						}

						.section-icon {
							padding: 14px;
							height: 44px;
							width: 44px;

							.icon {
								display: block;

								&.sprt-color {
									opacity: 1;
									cursor: unset;
								}
							}

							.calendar-indicator {
								display: block;
								width: 16px;
								height: 16px;
								border: none;
								border-radius: 50%;
							}
						}

						.section-title {
							font-weight: bold;
							display: inline-block;
							width: calc(100% - 44px);
							padding-right: 14px;
							cursor: pointer;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.section-edit {
							display: none;
							flex-grow: 1;

							.mx-datepicker {
								&.date {
									width: 58%;
								}
								&.time {
									width: 39%
								}
							}
						}

						.detail-multiselect-container {
							width: calc(100% - 44px);
							display: flex;
							align-items: center;
							padding-right: 20px;

							&.blue .multiselect__single {
								color: $blue_due;
							}

							.multiselect.multiselect-vue {
								width: 100%;
								margin: 1px -1px;
								vertical-align: middle;

								&.multiselect--disabled {
									background-color: var(--color-main-background) !important;
									cursor: default;
									.multiselect__single, input:not([type='range']):disabled {
										background-color: var(--color-main-background) !important;
										cursor: default;
									}
								}

								&.multiselect--active .multiselect__tags {
									border: 1px solid var(--color-border-dark);
								}

								.multiselect__tags {
									border: 1px solid transparent;

									.multiselect__tags-wrap {
										padding-left: 0;
									}

									.multiselect__input {
										padding: 0 !important;
										font-weight: bold;
									}

									.multiselect__single {
										padding-left: 0 !important;
										font-weight: bold;
										white-space: nowrap;
										text-overflow: ellipsis;
										overflow: hidden;
									}
								}

								.multiselect__tag {
									color: $blue_due;
									background: var(--color-background-dark);
									font-weight: bold;
								}

								.multiselect__element {
									line-height: 1.3em;
								}
							}
						}
					}

					&.section-utils button {
						display: none;
					}
				}

				&.date:hover button.delete {
					display: block !important;
				}

				&.editing {
					.section-utils button {
						display: block !important;
					}

					.section-title {
						display: none !important;
					}

					.section-edit {
						display: inline-block !important;
					}
				}

				&:last-of-type {
					border-bottom: unset;
				}

				&.low,
				&.date {
					color: $blue_due;
				}

				&.high {
					color: $red_overdue;
				}

				&.medium {
					color: $yellow;
				}

				&.detail-note {
					padding: 20px 0;
					height: auto;
				}

				&.detail-all-day {
					label {
						padding-left: 14px;
						width: 100%;

						&::before {
							border-width: 2px;
							border-radius: var(--border-radius);
						}
					}

					div,
					span {
						cursor: pointer;
					}

					input[type='checkbox'].checkbox + label {
						&::before {
							margin-left: 0;
						}
						> span {
							font-weight: bold;
							margin-left: 7px;
						}
					}
				}

				input[type='range'] {
					border: medium none;
					box-shadow: none;
					width: calc(100% - 50px);
					vertical-align: middle;
				}

				input[type='number'] {
					background: none repeat scroll 0 0 var(--color-background-dark);
					margin: 0;
					min-height: 0;
				}

				input {
					border-radius: 0;
					margin-top: 0;
					color: var(--color-main-text);
					font-weight: 500;
					outline: medium none;
					padding: 4px;

					&.duration-input {
						margin: 2px 0 0 .3em;
						width: 44px;
					}

					&.percent-input,
					&.priority-input {
						width: 44px;
						margin-top: 0;
					}
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}

				select {
					background-color: rgba(0, 0, 0, 0);
					border-radius: 0;
					border: 1px solid var(--color-border-dark);
					padding: 0;
					width: 98px;
					margin: 0;
					font-weight: normal;
					height: 19px;
				}
			}
		}

		.disabled .body .section {
			> div {
				.calendar-indicator {
					cursor: default;
				}
			}

			&.detail-all-day {
				div,
				span {
					cursor: default;
				}
			}

			&.date:hover .icon.sprt-trash {
				display: none;
			}
		}
	}
}

/**
	* rules for icons
	*/
.collection .icon {
	opacity: 1;
}

button.inline {
	box-sizing: border-box;
	width: 44px;
	height: 44px;
	margin: 0;
	cursor: pointer;
	border: none;
	padding: 14px;
	background-color: transparent !important;
	border-radius: 0;

	&:hover .icon {
		opacity: .7;
	}

	span.icon {
		display: block;
		cursor: pointer;
	}
}

.disabled .icon.detail-star:hover {
	cursor: not-allowed;
}

input[type='checkbox'].checkbox {
	&:checked + label::before {
		background-image: var(--icon-checkmark-000) !important;
		background-color: unset;
		border-color: unset;
	}
	&:disabled + label::before {
		background-color: var(--color-background-darker) !important;
	}
	+ label::before {
		height: 14px;
		width: 14px;
	}
}

.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	opacity: .5;
	transition: opacity 100ms ease 0s;
	cursor: default;

	&.reactive {
		cursor: pointer;

		&:hover {
			opacity: .7;
		}
	}

	&.disabled {
		cursor: not-allowed;
	}

	&.active {
		opacity: .7;
	}

	&.sprt-checkmark,
	&.sprt-tag-active,
	&[class*=' sprt-task-star-'] {
		opacity: 1 !important;
	}

	&.right {
		float: right;
	}
}

.tooltip-arrow {
	width: unset !important;
}

.icon span {
	font-family: var(--font-face);
}

.status-display {
	display: inline-block;
	width: 16px;
	height: 16px;

	&.success {
		@extend .sprt-color;
		@extend .sprt-checkmark-color;
	}

	&.refresh {
		background-image: var(--icon-history-000);
		animation: pulse 2s infinite;
		border-radius: 50%;
		opacity: .5;
		cursor: pointer;

		&:hover {
			opacity: .7;
		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(50, 50, 50, .4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(50, 50, 50, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(50, 50, 50, 0);
	}
}
